@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    @apply w-full;
    @apply h-full;
}

.hideScrollBar::-webkit-scrollbar {
    width: 0;
}

.table-mini :where(th, td) {
    padding: 0.2rem 1rem;
    line-height: 1.4;
    font-weight: 500;
    @apply text-xs;
    max-width: 300px;
    @apply truncate;
    @apply hover:bg-accent;
}

.table:where(:not(.table-zebra)) :where(thead,tbody,tfoot) :where(:where(th,td)) {
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-right-width: 1px;
    border-color: hsl(var(--b2, var(--b1))/var(--tw-border-opacity));
}


[contenteditable="true"].single-line {
    white-space: nowrap;
    overflow: hidden;
    outline-width: 0px;
}

[contenteditable="true"].single-line br {
    display: none;

}

[contenteditable="true"].single-line * {
    display: inline;
    white-space: nowrap;
}

input {
    outline: none;
    border-color: transparent;
}

input:hover :focus {
    outline: none;
    border-color: transparent;
}

input:focus:focus-visible {
    outline: 0;
}