@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    @apply w-full;
    @apply h-full;
}

.hideScrollBar::-webkit-scrollbar {
    width: 0;
}

.table-mini :where(th, td) {
    padding: 0.2rem 1rem;
    line-height: 1.4;
    font-weight: 500;
    @apply text-xs;
}